@use '@/shared/config/styles' as *;

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Golos text' sans-serif;
  color: $color-black;
  background-color: $color-white;
  font-size: 16px;

  @media (max-width: 768) {
    font-size: 12px;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 180ms ease, transform 180ms ease;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  transform: translateY(6px);
}